/* color palette from <https://github.com/vuejs/theme> */
:root {
  --max-width: 75rem;

  --primary-color: #3a0ca3;
  --white: #ffffff;
  --grey: #bbbbbb;
  --text: #333;

  --header-height: 3rem;

  /* Font size system based on 16px */

  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-44: 2.75rem;
  --font-size-52: 3.25rem;
  --font-size-62: 3.875rem;
  --font-size-74: 4.625rem;
  --font-size-86: 5.375rem;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  --border-radius-8: 8px;

  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-48: 3rem;
  --spacing-64: 4rem;
  --spacing-96: 6rem;
}

/* semantic color variables for this project */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 var(--spacing-64);
}

.section {
  padding-top: var(--spacing-96);
  padding-bottom: var(--spacing-96);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
